@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

    <!--
    Description: Page responsible for displaying the logoff button as well as its functionality 
    Last Updated: 4/24/24
    -->

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()" style="color: white;">Log Off</a>
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" style="display: none;"></form>
    </li>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" class="nav-link" asp-area="" asp-controller="Account" asp-action="Register" style="color: white;">Register</a></li>
        <li><a class="nav-link" asp-area="" id="loginLink" asp-controller="Account" asp-action="Login" style="color: white;">Login</a></li>
    </ul>
}
