@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tables.css">
    <!--
    Description: Page responsible for displaying the privacy page
    Last Updated: 4/24/24
    -->
</head>
<body>

    <h1 style="color: white;">@ViewData["Title"]</h1>
    <hr />

    <p class="privacy-text" style="color: white;">
        Welcome to our Privacy Policy page. At <span class="highlight">NutriActive Supplements</span>, we understand the importance of your privacy and are committed to protecting it.
        This page outlines our policies regarding the collection, use, and disclosure of personal data when you use our website and the options you have regarding that data.
        We strive to ensure that your personal information is handled securely and responsibly. By using our website, you agree to the practices described in this Privacy Policy.
    </p>
    <hr />

</body>
</html>
