<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/tables.css">
    <title>Thank You</title>
    <!--
    Description: Page responsible for displaying thank you message after checkout 
    Last Updated: 5/10/24
    -->
</head>
<body>

    <div class="container" style="color: white;">
        <h2>Thank You for Your Purchase!</h2>
        <p>Your order has been successfully processed.</p>
        <p>We appreciate your business.</p>
        <p><a href="/Home" class="btn-custom" style="text-decoration: none;">Back to Home</a></p>
    </div>

</body>
</html>
