/* details.css */

body {
    background-color: #d2b48c;
    color: #2e2d2c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-specific-footer {
    display: none;
}

.container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px;
    margin: 0 auto;
}

.container .product-image {
    background-color: #d2b48c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    text-align: center;
    max-width: 400px;
    animation: fadeInContainer 1s ease-in-out;
}

@keyframes fadeInContainer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container h1 {
    margin-bottom: 30px;
    color: #8b572a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.container .product-details {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    color: #8b572a;
    animation: fadeInContainer 1s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

    .container .product-details li {
        margin-bottom: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

.container .error-message {
    color: #c62828;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container .btn-custom {
    background-color: #8b572a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

    .container .btn-custom:hover {
        background-color: #634329;
    }

.container .product-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeInImage 1s ease-in-out;
}

@keyframes fadeInImage {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
